@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.root {
    font-family: "Jaro", sans-serif;
    background-color: greenyellow;
    background-image: linear-gradient(
        45deg,
        #2fc92c92 25%,
        transparent 25%,
        transparent 75%,
        #2fc92c92 75%,
        #2fc92c92
    ),
    linear-gradient(
        -45deg,
        #2fc92c92 25%,
        transparent 25%,
        transparent 75%,
        #2fc92c92 75%,
        #2fc92c92
    );
    background-size: 80px 80px;
    background-repeat: repeat;
}
.main {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    font-size: 10em;
    color: white;
    line-height: 5px;
    -webkit-text-stroke: 0.4px black;
}
.sub-title {
    font-size: 2em;
    line-height: 5px;
    color: white;
    -webkit-text-stroke: 0.4px black;
}